#btn01 {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 67, 241);
  width: 100px;
  height: 50px;
  padding: 10px;
  border: none;
}

#btn02 {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 214, 72);
  width: 100px;
  height: 50px;
  padding: 10px;
  border: none;
}

#btn03 {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(223, 226, 43);
  width: 100px;
  height: 50px;
  padding: 10px;
}
